.App {
    text-align: center;
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  